.container-md {
    margin: 0 auto;
    max-width: 1338px;
}

.benefits {
    display: flex;
    align-items: center;
    padding: 161px 0 99px;
}

.benefits .section {
    max-width: 417px;
    padding: 0 125px 0 0;
}

.benefits h2 {
    margin: 0 0 34px;
}

.benefits h6 {
    margin: 121px 0 19px 16px;
}

.photos-section {
    padding: 0 0 172px;
}

.photo-section {
    display: flex;
    align-items: center;
}

.photo-section .section {
    margin: auto;
    padding: 25px;
    max-width: 415px;
}

.photo-section h2 {
    margin: 0 0 11px;
    max-width: 283px;
}

.photo-section p {
    margin: 0 0 23px;
    line-height: 25px;
}

.photo-section > div, 
.photo-section > section {
    width: 50%;
}

.photo-section div > img {
    max-width: 555px;
    width: 100%;
    object-fit: cover;
}

.photo-right {
    flex-direction: row-reverse;
}

.cards-horizontal {
    display: flex;
    padding: 78px 15px 114px;
    max-width: 1108px;
    margin: 0 auto;
}

.card {
    border-radius: 2px;
}

.cards-horizontal .card:not(:last-child) {
    padding: 0 40px 0 0;
}

.cards-horizontal .card svg {
    max-width: 64px;
    padding: 0 0 38px;
}

.cards-horizontal h3 {
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
}

.cards-horizontal p {
    margin: 26px 0 0;
    font-family: 'Heebo', sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
}

.cards-horizontal .card:first-child {
    max-width: 242px;
}

.tag {
    position: relative;
}

.tag::after {
    content: "Em breve";
    position: absolute;
    top: -33px;
    border: 1px solid #AA8B4E;
    border-radius: 5px;
    padding: 0px 17px;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.event-section {
    position: relative;
    padding: 162px 0;
    display: flex;
    justify-content: space-between;
}

.event-section section {
    max-width: 468px;
}

.event-section section > svg {
    margin: 0 0 20px;
}

.event-section h2 {
    margin: 0 0 21px;
    max-width: 265px;
    font-weight: 400;
}

.event-section p {
    margin: 0 0 1.5em;
}

.event {
    max-width: 492px;
    width: 100%;
}

.menu-event {
    margin: 43px 0 0 0;
}

.menu-event > ul {
    padding: 45px 0 57.2px 0;
}

.menu-event li {
    padding: 0 56px 0 70px;
}

.menu-event a {
    display: block;
    padding: 0px 0 0 38px;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 16px;
    line-height: 60px;
    color: #FFFFFF;
}

.menu-event a.active {
    background: linear-gradient(270deg, rgb(170 139 78 / 0.3) 0.41%, rgba(170, 139, 78, 0) 100.41%);
    border-radius: 2px;
    font-weight: 700;
}

.menu-event svg {
    margin: 0 14px 0 0;
    vertical-align: middle;
}

.card-event {
    display: none;
    position: absolute;
    top: 513px;
    left: -17px;
    padding: 65px 66px 63px 69px;
    max-width: 689px;
}

.card-event.active {
    display: block;
}

.card-event h3 {
    margin: 0 0 16px;
    font-size: 30px;
    line-height: 46px;
}

.card-event svg {
    margin: 0 0 19px;
}

.card-event .tag {
    margin: 0 0 8px;
}

.card-event .tag::after {
    position: initial;
    padding: 3px 17px 2px;
    color: #AA8B4E;
}

.card-event p {
    line-height: 26px;
    max-width: 537px;
}

.card-event hr {
    margin: 40px 9px 32px;
}

.card-event h6 {
    margin: 0 0 10px;
}

.swiper-event {
    max-width: 553px;
}

.swiper-event img {
    max-width: 221px;
    height: 150px;
    object-fit: cover;
}

.swiper-event .swiper-button-prev::after, .swiper-event .swiper-button-next::after {
    padding: 33px 37px 32px 36px;
    font-size: 15px;
    font-weight: 600;
    padding: 22px 24px 21px;
    font-size: 12.5px;
}

.section-bg-photo {
    margin: 324px 0 0;
    background-image: url('./SectionBGPhoto/img/champagne-mountain-sea.png');
    background-repeat: no-repeat;
    background-position: right top;
    max-width: 1542px;
    width: 100%;
}

.section-bg {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-bg section > svg {
    margin: 0 0 19px;
}

.section-bg section {
    max-width: 462px;
}

.section-bg h2 {
    margin: 0 0 27px;
    font-weight: 400;
}

.section-bg p {
    margin: 0 0 65px;
}

.fish-rotate-wrapper {
    position: absolute;
    right: 0;
}

.fish-rotate {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag-circle, .fish-logo {
    position: absolute;
}

.anim-photo-card {
    position: relative;
    display: flex;
} 

.anim-photo-card .cards {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    max-width: 561px;
}

.anim-photo-card .card {
    margin: 0 0 9px;
}

.anim-photo-card .card {
    margin: 0 0 7px;
}

.anim-photo-card .card svg {
    margin: 0 0 21px;
}

.anim-photo-card .card h3 {
    margin: 0 0 21px;
    font-size: 28px;
}

.anim-photo-card .card p {
    font-size: 16px;
    line-height: 26px;
}

.anim-photo-card .card {
    padding: 41px 38px 38px 50px;
}

.anim-photo-card .card.theme-gray > svg {
    display: none;
}

.anim-photo-card .card.theme-dark-blue {
    padding: 47px 56px 50px 50px;
}

.boat {
    max-width: 1088px;
    max-height: 858px;
    object-fit: cover;
}