.cards-horizontal {
    display: flex;
    padding: 78px 15px 114px;
    max-width: 1108px;
    margin: 0 auto;
}

.card {
    border-radius: 2px;
}

.cards-horizontal .card:not(:last-child) {
    padding: 0 40px 0 0;
}

.cards-horizontal .card svg {
    max-width: 64px;
    padding: 0 0 38px;
}

.cards-horizontal h3 {
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
}

.cards-horizontal p {
    margin: 26px 0 0;
    font-family: 'Heebo', sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
}

.cards-horizontal .card:first-child {
    max-width: 242px;
}