footer {
    background: #1F2338;
    padding: 114px 15px 47px;
}

.swiper-testimonial {
    height: 130px;
    margin: 0;
    padding: 0 111px 0 0;
    width: 90%;
}

.swiper-testimonial h4 {
    font-size: 30px;
}

.swiper-testimonial .more {
    margin: 11px 0 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
}

.swiper-testimonial img,
.swiper-testimonial svg {
    width: 65px;
    height: 65px;
    object-fit: contain;
    border-radius: 50px;
    margin: 0 17px 0 0;
}

.swiper-testimonial h4,
.swiper-testimonial .more {
    font-weight: 300;
    line-height: 44px;
    color: #FFFFFF;
    opacity: 0.8;
}

.swiper-testimonial .swiper-slide {
    justify-content: flex-start;
}

.info-testimonial {
    display: flex;
    max-width: 294px;
    opacity: 0.25;
}

.swiper-slide:hover .info-testimonial,
.swiper-slide-active .info-testimonial {
    opacity: 1;
}

.swiper-txt-testimonial h4 {
    font-weight: 300;
    font-size: 20px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.swiper-txt-testimonial .more.active {
    -webkit-line-clamp: initial;
}

.swiper-txt-testimonial .swiper-slide {
    flex-direction: column;
    margin: 0 0 23px;
}

.swiper-txt-testimonial .swiper-slide button {
    padding: 21px 0;
    text-align: left;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
} 

.swiper-testimonial .swiper-slide h5 {
    font-weight: 700;
    font-size: 20px;
}

.swiper-testimonial .swiper-slide h6 {
    font-weight: 400;
    font-size: 15px;
    text-transform: capitalize;
}

.swiper-testimonial .swiper-slide h5,
.swiper-testimonial .swiper-slide h6 {
    font-family: 'Aleo', serif;
    line-height: 25px;
    color: #FFFFFF;
}

.swiper-txt-testimonial h4,
.swiper-txt-testimonial .swiper-slide button {
    font-weight: 300;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.8;
}

.swiper-txt-testimonial .swiper-slide/* ,
.swiper-testimonial .swiper-slide */ {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.swiper-testimonial .swiper-button-prev::after {
    background: #E9E9E9;
    color: #1F2338;
}

.swiper-testimonial .swiper-button-next::after {
    background: #AA8B4E;
    color: #FFFFFF;
}

.swiper-testimonial .swiper-button-prev {
    left: initial;
    right: 82px;
}

.swiper-testimonial .swiper-button-prev,
.swiper-testimonial .swiper-button-next {
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
}

footer hr {
    margin: 38px 0 61px;
    opacity: 0.15;
    border: 1px solid #FFFFFF;
}

footer .fish {
    margin: 0 0 26px;
} 

footer h3 {
    margin: 0 0 23px;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
} 

footer p {
    font-size: 20px;
    line-height: 30px;
}

.orcamento {
    display: flex;
    justify-content: space-between;
}

.orcamento a {
    color: #FFFFFF;
    text-decoration: none;
}

.orcamento-info {
    position: relative;
    padding: 0 0 77px;
    max-width: 350px;
    background-image: url('./img/map.svg');
    background-position: 30% -140%;
}

.orcamento section p {
    margin: 0 0 34px;
}

.box-contact h6 {
    padding: 0 0 13px;
    font-weight: 400;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.7;
}

.box-contact svg {
 margin: 0 10px 0 0;
}

.box-contact ul > li:first-of-type > a {
    font-size: 20px;
}

.box-contact ul > li > a {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.box-contact {
    border: 1px solid #AA8B4E;
    border-radius: 5px 5px 0px 0px;
    padding: 14px 30px 23px 31px;
    max-width: 333px;
}

.box-contact ul > li {
    position: relative;
    display: block;
}

.box-contact ul > li::after {
    content: '';
    border: 1px solid #FFFFFF;
    opacity: 0.1;
    position: absolute;
    top: 0;
    width: 100%;
}

.box-contact ul > li a {
    padding: 17px 0;
}

.box-contact ul > li a:hover {
    color: #AA8B4E;
    transform: scale(1.01);
}

a.theme-gold {
    position: relative;
    background: #AA8B4E;
    padding: 15px 16px 23.21px 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

}

a.theme-gold::after {
    content: '';
    border-color: #aa8b4e transparent;
    border-style: solid;
    border-width: 15px 15px 0px 15px;
    height: 0px;
    width: 0px;
    position: absolute;
    top: 78px;
    left: 102px;
}

a.theme-gold:hover {
    font-weight: bold;
}

.arrow-gold {
    background: #755E32;
    border-radius: 0px 3px 3px 0px;
    padding: 8px 16px 7px 17px;
    color: #FFFFFF;
    font-family: monospace;
    font-size: 15px;
}

.arrow-gold::before {
    content: '';
    background: #755E32;
    border-radius: 0px 3px 3px 0px;
}

.double-circle {
    position: absolute;
    left: 94px;
    bottom: 13px;
}

form input[type="text"], 
form input[type="tel"], 
form input[type="date"],
form input[type="email"],
form select,
form textarea {
    padding: 14px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.form-contact {
    background: #FFFFFF;
    border-radius: 2px;
    padding: 41px 46px 43px 48px;
    height: fit-content;
    margin: 3em 0 0 7em;
}

.columns {
    margin: 0 0 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.columns, .form-contact label {
    display: flex;
}

.form-contact label {
    flex-direction: column;
    text-align: left;
    width: -webkit-fill-available;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #474747;
}

.form-contact label:not(:last-of-type) {
    margin: 0 7px 0 0;
}

.form-contact input[type="text"] {
    font-size: 14px;
}

.form-contact select {
    cursor: pointer;
}

.form-contact label[for="msg"] {
    margin: 0 0 20px;
}

.form-contact input,
.form-contact textarea,
.form-contact select {
    border: 1px solid #D0D3D8;
    border-radius: 3px;
    margin: 1px 0 0;
}

.check {
    margin: 0 0 14px;
    display: flex;
    align-items: center;
}

.check label {
    position: relative;
    line-height: 15px;
    color: #5F5F5F;
    display: block; 
    cursor: pointer;
}

.check input[type="checkbox"] {
    display: none;
}

.check label::before {
    content: '';
    appearance: none;
    -webkit-appearance: none;
    background-color: #DCDCDC;
    border: 2px solid #DCDCDC;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 9px;
}

.check input:checked + label::after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 7.5px;
    width: 4px;
    height: 10px;
    border: solid #1F2338;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.form-contact .btn-dark-blue {
    margin: 21px 0 27px;
    display: flex;
    justify-content: flex-start;
}

.form-contact button + p {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #5F5F5F;
}

.form-contact button + p > a {
    margin: 0 0 0 4px;
    font-weight: bold;
    color: #AA8B4E;
    text-decoration: underline;
}

.form-contact button + p > a:hover {
    text-decoration: none;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright hr {
    margin: 54px 0 45px;
}


.copyright h6 {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;    
    color: #FFFFFF;
    opacity: 0.5;
}

.copyright a {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;    
    color: #FFFFFF;
    opacity: 0.5;
}