.top-nav {
    margin: 0 auto;
    padding: 43px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1110px;
}

.top-nav.scroll {
    position: fixed;
}

.nav-logo a {
    padding: 40px 50px 32px 15px;
}

.nav-logo a {
    display: inline-block;
}

.nav-links {
    padding: 0 19px 0 0;
    display: flex;
    list-style: none;
}

.nav-link a {
    padding: 40px 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s linear;
}

.nav-link a:hover {
    color: #AA8B4E;
}

@media screen and (max-width: 1366px) {
    .nav-logo a {
        padding: 40px 15px 32px 15px;
    }

    .nav-logo svg {
        width: 23vw;
    }
}