body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}

ul {
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  text-align: left;
}

section h1 {
  font-family: 'Aleo', sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.3px;
}

section p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #DCDCDC;
}

.checked-list {
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: left;
}

.checked-list li {
  display: flex;
  align-items: center;
}

.checked-list li > svg {
  margin: 0 12px 0 0;
}