body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  text-align: left;
}

h6 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #20334F;
}

ul {
  list-style-type: none;
  padding: 0;
}

section p, h6, button, .checked-list {
  font-family: 'Open Sans', sans-serif;
}

h3, section h1, section h2 {
  font-family: 'Aleo', serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

section, .card {
  text-align: left;
}

section h1 {
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.3px;
}

section h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  letter-spacing: 0.01em;
}

section p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.section-dark h2 {
  color: #20334F;
}

.section-dark p {
  color: #5F5F5F;
}

.btn-dark-blue {
  padding: 15px 25px 14px 26px;
  background: #1F2338;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 2px;
  cursor: pointer;
}

.theme-dark-blue {
  background: #1F2338;
  color: #FFFFFF;
}

.theme-dark-blue p {
  color: #DCDCDC;
}

.checked-list {
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.checked-list li {
  display: flex;
  align-items: center;
}

.checked-list li > svg {
  margin: 0 12px 0 0;
}